.button {
  margin: $margin-auto;
  padding: 10px 15px;
  display: block;
  background-color: $button-stage-color;
  border: 2px solid transparent;
  cursor: crosshair;

  &:hover,
  &:focus {
    border-color: $button-stage-border-color;
  }

  &:active {
    border-color: transparent;
    box-shadow: 1px 0 13px -2px $black-color inset;
  }
}
