.copyright {
  margin: $margin-auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    margin: 0;
    width: 350px;
    text-align: center;
  }

  &__participant {
    display: inline-block;
    position: relative;
    transition: color .2s, transform .2s;

    &--green-color:hover {
      color: $green-color;
    }

    &--gold-color:hover {
      color: $gold-color;
    }

    &:hover {
      transform: scale(1.5);
    }
  }
}
