.header-nav {
  width: 500px;
}

.header-nav--margin-left {
  margin-left: 55px;
}

.header-nav--margin-right {
  margin-right: 24px;
}

.header-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

.header-nav__link {
  text-decoration: none;
  color: $black-color;
}
