.music {
  position: absolute;
  top: 34vh;
  left: calc(50vw - (300px / 2));

  &__audio {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .music {
    top: 15vh;
  }
}

@media (min-width: $desktop-width) {
  .music {
    top: 16vh;
  }
}
