.music {
  position: absolute;
  top: 315px;

  &__audio {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .music {
    top: 130px;
  }
}

@media (min-width: $desktop-width) {
  .music {
    top: 136px;
  }
}
