.one-v-one {
  margin: $margin-auto;
  width: $mobile-width;
  display: flex;
  justify-content: center;

  &__participant {
    margin: 10px 0;
    padding: 0 10px;
    box-sizing: border-box;

    &-info {
      border-bottom: 1px solid black;
    }

    &-name,
    &-points,
    &-stage-result {
      margin-top: 0;
      padding: 0 20px;
      text-align: center;
    }
  }
}

@media (min-width: $tablet-width) {
  .one-v-one {
    width: 500px;

    &__participant {
      width: 400px;

      &-name,
      &-points,
      &-stage-result {
        padding: 0 25px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .one-v-one {
    width: 600px;

    &__participant {
      width: 500px;
    }
  }
}
