.rules-popup {
  position: absolute;
  top: 15%;
  width: 600px;
  background-color: $white-color;
  box-shadow: 0 9px 22.72px 9.28px rgba(27, 27, 27, 0.2);
  z-index: 1;

  &__container {
    padding: 25px 40px;
  }

  &__close {
    margin-left: auto;
    margin-bottom: 25px;
    width: 35px;
    display: flex;
    justify-content: flex-end;
  }

  &__headline {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 205px;
    line-height: 34px;
    text-decoration: underline;
  }

  &__list {
    margin: 0;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__text {
    margin: 0;
  }
}
