.rules-popup {
  position: absolute;
  top: 17vh;
  left: calc(50% - (#{$mobile-width} - 20px) / 2);
  width: $mobile-width - 20px;
  background-color: $white-color;
  box-shadow: 0 9px 22.72px 9.28px rgba(27, 27, 27, 0.2);
  z-index: 1;

  &__container {
    padding: 10px;
  }

  &__headline {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 205px;
    line-height: 34px;
    text-decoration: underline;
  }

  &__list {
    margin: 0;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__text {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .rules-popup {
    top: 15vh;
    left: calc(50% - (#{$tablet-width} - 100px) / 2);
    width: $tablet-width - 100px;

    &__container {
      padding: 10px 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .rules-popup {
    position: absolute;
    top: 16vh;
    left: calc(50% - (#{$desktop-width} - 130px) / 2);
    width: $desktop-width - 100px;

    &__container {
      padding: 25px 40px;
    }
  }
}
