.stage {
  &__headline {
    margin-top: 0;
    padding: 0 10px;
    min-width: 50px;
    text-align: center;
    text-decoration: underline;

    &-name {
      position: relative;
    }
  }

  &__table {
    margin: $margin-auto;
    margin-bottom: 10px;
    min-width: 250px;
    border: 1px solid $black-color;
    border-collapse: separate;
    border-spacing: 0;

    tr td {
      border: 2px solid $black-color;
    }
  }

  &__participant {
    margin: 0 0 0 0;
    padding: 5px 0 10px 0;
    text-align: center;
  }
}
