.time-and-data {
  margin-bottom: 20px;

  &__info {
    margin: $margin-auto;
    width: 185px;
  }
}

@media (min-width: $tablet-width) {
  .time-and-data {
    margin-bottom: 0;
    flex-grow: 1;
  }
}
