.tog-main {
  margin-bottom: 120px;
  max-width: $mobile-width;
  flex: 1;
}

@media (min-width: $tablet-width) {
  .tog-main {
    margin-bottom: 270px;
    max-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .tog-main {
    margin-bottom: 250px;
    max-width: $max-desktop-width;
  }
}
