.tournament-stages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tournament-stages__group {
  padding: 10px;
  border: 2px solid $black-color;
}

.tournament-stages__stage-container {
  margin-bottom: 30px;
  width: 360px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tournament-stages__stage-container--winner {
  margin-top: 20px;
  margin-bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
}

.tournament-stages__stage-container--winner-display {
  display: flex;
}

.tournament-stages__button {
  margin: $margin-auto;
  padding: 8px 0;
  width: 150px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  border: 1px solid #c2c2c2;
  border-radius: 25px;
  background-color: $white-color;
  cursor: pointer;
}

.tournament-stages__the-winner {
  margin: 0;
  margin-bottom: 5px;
}
