.tournament-stages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tournament-stages__winner-and-loser-stage-container {
  width: 1070px;
  flex-direction: column;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tournament-stages__winner-stage-container {
  margin-bottom: 75px;
  width: 812px;
  display: flex;
  justify-content: space-between;
}

.tournament-stages__loser-stage-container {
  width: 1070px;
  display: flex;
  justify-content: space-between;
}

.tournament-stages__group {
  padding: 10px;
  border: 2px solid $black-color;
}

.tournament-stages__stage-container {
  margin-bottom: 15px;
  width: 230px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tournament-stages__stage-container--winner {
  position: relative;
  margin-top: 20px;
  margin-bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.tournament-stages__stage-container--winner-display {
  display: flex;
}

.tournament-stages__input,
.tournament-stages__winner-input {
  padding: 5px 1px;
  width: 100px;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  color: darkblue;
  background-color: #d6d6cf;
}

.tournament-stages__points-container {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tournament-stages__points {
  margin: 0;
  width: 106px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  word-wrap: break-word;
}

.tournament-stages__button {
  margin: $margin-auto;
  padding: 8px;
  width: 50px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  border: 1px solid #c2c2c2;
  border-radius: 50%;
  background-color: $white-color;
  cursor: pointer;
}

.tournament-stages__button:disabled:hover {
  cursor: not-allowed;
}

.tournament-stages__button:not(:disabled):hover {
  box-shadow: 0 0 15px 3px lightgrey inset;
}

.tournament-stages__button:not(:disabled):active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 -2px 15px -2px grey inset;
}

.tournament-stages__the-winner {
  margin: 0;
  margin-bottom: 5px;
}

.tournament-stages__crown {
  position: absolute;
  top: -40px;
  left: 0;
}

.tournament-stages__crown--animation {
  animation-name: bounce;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes bounce {
  0% {
    top: -40px;
    left: 0;
  }
  20% {
    top: 23px;
    left: 20px;
  }
  40% {
    top: 0px;
    left: 35px;
  }
  60% {
    top: 23px;
    left: 45px;
  }
  80% {
    top: 0px;
    left: 65px;
  }
  100% {
    top: -1px;
    left: 70px;
    transform: rotate(-30deg);
  }
}
