@font-face {
  font-family: "CeraStencilPRO";
  src: url("../fonts/CeraStencilPRO-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "CeraStencilPRO";
  src: url("../fonts/CeraStencilPRO-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "CeraStencilPRO";
  src: url("../fonts/CeraStencilPRO-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  margin: $margin-auto;
  min-width: $mobile-width;
  max-width: $mobile-width;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "CeraStencilPRO", "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: $black-color;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    max-width: $max-desktop-width;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popup--display {
  display: block;
}
