$margin-auto: 0 auto;
$white-color: #ffffff;
$black-color: #000000;
$gold-color: #ffd700;
$green-color: #008000;

$button-stage-color: #daa94e;
$button-stage-border-color: #b61156;

$stage2-headline-color: #1508c9;
$stage3-headline-color: #85a00c5e;
$stage4-headline-color: #d4b60a9f;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1000px;
$max-desktop-width: 1600px;
